body{
	background-color:#FFFFFF; 
	margin:0;
	padding: 0;
	font-family: helvetica;
}
#header{
	width: 100%;
	height: 100px;
}
#inside-header{
	/*background-col or: yellow;*/
	width: 970px;
	height: 100px;
	margin: 0 auto;
}
#inside-header-top{
	/*background-color: red;*/
	height: 15px;
	width: 970px;
	border-bottom: 1px solid #848484;	
}
#inside-header-top-left{
	width: 400px;
	height:15px;
	font-size:10px;
	float: left;
	display: block;
}
#inside-header-top-right{
	width: 395px;
	height:15px;
	font-size:10px;
	float: right;
	text-align: right;
}
#inside-header-top-right ul {
	list-style: none;
	display: inline;
}
#inside-header-top-right ul li{
	margin-right: 5px;
	display: inline;
}
#inside-header-top-right ul li a{
	color: #000;
	text-decoration:none; 
}
#inside-header-top-right ul li a:hover{
	color: #AB0000;
}
#inside-header-bottom{
	/*background-color: #AB9999;*/
	height: 85px;
	width: 970px;
}
#inside-header-bottom-left:hover{
	background-color: #AB2589;
}
#inside-header-bottom-left{
	/*background-color: #577755;*/
	height: 60px;
	width: 200px;
	font-weight: bold;
	display:block;
	/*padding:38px 100px 38px 0;*/
	font-size: 50px 
}
#inside-header-bottom-left span{
	color: #FA654D;
}
#menu{
	background-color: #000;
	height: 35px;
	width: 100%;
}
#inside-menu{
	background-color: #000;
	height: 35px;
	width: 970px;
	margin: 0 auto;
}
#menu-left{
	background-color: #FA654D;
	float: left;
	height: 27px;
	width: 160px;
	padding-left: 10px;
	padding-top: 8px;
	font-size: 15px;
}
#menu-right ul{
	list-style: none;
	display: inline;
}
#menu-right ul li{
	display: inline;
	color: #fff;
	margin: 5px;
}
#menu-left a{
	text-decoration: none;
	color: #000;
	display:inline-block;
	/*border-bottom: 5px solid red;*/
	padding: 5px;
}
#menu-left a:hover{
	background-color: #f2f282;
}
#menu-right ul li a{
	text-decoration: none;
	color: #fff;
	display: inline-block;
	padding: 8px;
}
#menu-right ul li a:hover{
	background-color: yellow;
	color: #000;
}

#content{
	/*background-color: red;*/
	width: 100%;
	min-height: 800px;
	height: auto;
}
#inside-content{
	/*background-color: green;*/
	width: 970px;
	min-height: 800px;
	height: auto;
	margin: 0 auto;
}
#left-content{
	/*background-color: red;*/
	width: 170px;
	height: auto;
	min-height: 400px;
	float: left; 
}
#left-content ul{
	list-style: none;
	display:inline;
}
#left-content ul li a{
	text-decoration: none;
	color: black;
	display: block;
	border-bottom: 1px solid #dbcbcb;
	padding: 5px; 
}
#left-content ul li a:hover{
	background-color:yellow;
}
#right-content{
	/*background-color: red;*/
	width: 800px;
	height: 400px;
	float: left;
}
#logo1{
	/*background-color: yellow;*/
	height: 400px;
	width: 800px;
}
#logo1 img{
	/*background-color: yellow;*/
	height: 400px;
	width: 800px;
}
#content-bottom{
	/*background-color: yellow;*/
	width: 970px;
	height: 400px;
	float: left;
}
#content-bottom-img-1 img{
	/*background-color: red;*/
	height: 350px;
	width: 300px;
	float: left;
	/*padding-right: 15px;*/
	padding: 25px 15px 25px 0;
}
#content-bottom-img-2 img{
	/*background-color: red;*/
	height: 350px;
	width: 300px;
	float: left;
	/*padding-left: 15px;*/
	padding: 25px 15px 25px 15px;
}
#content-bottom-img-3 img{
	/*background-color: red;*/
	height: 350px;
	width: 310px;
	float: left;
	padding: 25px 0 25px 15px;
}
#footer{
	background-color: #992642;
	width: 100%;
	height: 200px;
}
