body{
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
}
#header{
	background-color: maroon;
	height: 120px;
	width: 100%;
}
#in-header{
	/*background-color: black;*/
	height: 120px;
	width: 1010px;
	margin: 0 auto;
	/*float: left;*/
}
#right-header{
	/*background-color: red;*/
	height: 120px;
	width: 505px;
	margin: 0 auto;
	float: right;
	padding: 20px;
	font-size: 30px;
}
h1{
	margin:0;
	padding: 0;
	color: #FFFFFF;
	text-align: right;
}
#menu{
	background-color: #FFFFFF;
	height: 50px;
	width: 100%;
	border-bottom: 1px solid maroon;
}
#in-menu{
	/*background-color: black;*/
	height: 50px;
	width: 1010px;
	margin: 0 auto;
}
#in-menu ul{
	margin: 0;
	padding: 0;
	list-style: none;
	/*text-decoration: none;*/
}
#in-menu ul a{
	/*list-style: none;*/
	text-decoration: none;
	color: maroon;
}
#in-menu ul a li{
	/*list-style: none;*/
	/*text-decoration: none;*/
	display: inline-block;
	padding: 16px;

}
ul li:hover{
	/*list-style: none;*/
	/*text-decoration: none;*/
	/*display: inline-block;*/
	/*padding: 15px;*/
	background-color: orange;
	color: maroon;

}
#content{
	background-color: #F6F6F6;
	min-height: 600px;
	height: auto;
	width: 100%;
}
#in-content{
	/*background-color: black;*/
	height: auto;
	min-height: 600px;
	width: 1010px;
	margin: 0 auto;
}
#left-content{
	background-color: #FFFFFF;
	height: auto;
	min-height: 600px;
	width: 200px;
	margin: 0 auto;
	float: left;
}
#left-content ul{
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
	/*border-top: 2px solid maroon;*/

}
#left-content ul li{
	/*list-style: none;*/
	padding: 10px;
	border-bottom: 2px solid maroon;

}
#left-content ul li a{
	/*list-style: none;*/
	/*text-decoration: none;*/
	text-decoration: none;
	color: maroon;
	padding: 60px;


}
#right-content{
	background-color: #FFFFFF;
	height: auto;
	min-height: 600px;
	width: 800px;
	margin: 0 auto;
	float: right;
}
#one{
	background-color: #F0F0F0;
	height: auto;
	min-height: 200px;
	width: 780px;
	margin: 10px;
	float: right;
}
#one img{
	height: 200px;
	width: 780px;
}
#two{
	background-color: #F0F0F0;
	height: auto;
	min-height: 100px;
	width: 200px;
	/*margin: 0 auto;*/
	margin: 30px;
	float: left;
	/*margin-right: 50px;*/
	/*margin-left: 50px;*/
}
img{
	height: 100px;
	width: 200px;
}
#three{
	background-color: #F0F0F0;
	height: auto;
	min-height: 100px;
	width: 200px;
	/*margin: 0 auto;*/
	margin: 30px;
	/*margin left: 25px;*/
	/*margin right: 25px;*/
	float: left;
}
#four{
	background-color: #F0F0F0;
	height: auto;
	min-height: 100px;
	width: 200px;
	/*margin: 0 auto;*/
	/*margin-left: 50px;*/
	margin: 30px;
	float: left;
}

#five{
	background-color: #F0F0F0;
	height: auto;
	min-height: 100px;
	width: 200px;
	/*margin: 0 auto;*/
	margin: 30px;
	float: left;
	/*margin-right: 50px;*/
	/*margin-left: 50px;*/
}
#six{
	background-color: #F0F0F0;
	height: auto;
	min-height: 100px;
	width: 200px;
	/*margin: 0 auto;*/
	margin: 30px;
	/*margin left: 25px;*/
	/*margin right: 25px;*/
	float: left;
}
#seven{
	background-color: #F0F0F0;
	height: auto;
	min-height: 100px;
	width: 200px;
	/*margin: 0 auto;*/
	/*margin-left: 50px;*/
	margin: 30px;
	float: left;
}

#footer{
	background-color: maroon;
	height: 150px;
	width: 100%;
}
#in-footer{
	/*background-color: black;*/
	height: 150px;
	width: 1010px;
	margin: 0 auto;
}