#header{
	height: 150px;
	width: 100%;
	background-color: #0075AD;
}
#inside-header{
	height:150px;
	width: 870px;
	background-color: #0075AD;
	margin:0 auto;
}
#header-up{
	height:28px;
	width: 870px;
	background-color: #0075AD;
	border-bottom: 2px solid white;
}
#header-down{
	height:100px;
	width: 870px;
	background-color: #0075AD;
}
#logo{
	height: 100px;
	width:200px;
	/*background-color: brown;*/
	float: left;
}
<<<<<<< HEAD
#middle{
	background-image: url(images1.png);
	background-size: 100% 100%;
	margin: 20px;
}
#right{
	background-image: url(images2.jpg);
	background-size: 100% 100%;
	margin: 20px;
}
=======
>>>>>>> 6df145a2709a2eddd6aae8ba447b377bf5d1470d
#logo h1{
	color: white;
	margin:0;
	padding:31px;
	text-align: center;
}
#middle{
<<<<<<< HEAD
	height: 60px;
	width:260px;
=======
	height: 100px;
	width:300px;
>>>>>>> 6df145a2709a2eddd6aae8ba447b377bf5d1470d
	/*background-color: red;*/
	float: left;
}
#right{
<<<<<<< HEAD
	height: 60px;
	width:330px;
=======
	height: 100px;
	width:370px;
>>>>>>> 6df145a2709a2eddd6aae8ba447b377bf5d1470d
	/*background-color: yellow;*/
	float: left;
}

#menu{
	height: 50px;
	width: 100%;
}
#menu ul{
  list-style: none;
  margin:0;
  padding:0;
}
#menu ul li{
	float: left;
	padding:16px;
	padding-right: 10px;
	/*background-color: black;*/
}
#inside-menu{
	height:50px;
	width: 870px;
	background-color: #008ACC;
	margin:-20px auto;
}
#content{
	min-height:500px;
	height:auto;
	width: 100%;
}
#inside-content{
	min-height:500px;
	height: auto;
	width: 870px;
	background-color: yellow;
	margin:0 auto;
}
#content-left{
<<<<<<< HEAD
	height: 381px;
	width: 266px;
	background-color: #ADE123;
	float: left;
	margin-top: 20px;
    margin-bottom: 150px;
    margin-right: 30px;
    border:2px solid #A6D5ED;
}
#content-left ul{
	margin: 0;
	padding: 0;
	list-style: none; 
}
#content-left h1{
	margin: 0;
	padding: 0;
}
#content-left ul li{
 padding:10px;
 font-size: 20px;
}
#content-right{
	height: 480px;
=======
	min-height:500px;
	height: auto;
	width: 300px;
	background-color: #ADE123;
	float: left;
	margin-top: 20px;
}
#content-right{
	min-height:500px;
	height: auto;
>>>>>>> 6df145a2709a2eddd6aae8ba447b377bf5d1470d
	width: 570px;
	background-color: #BDE546;
	float: left;
	margin-top: 20px;
}
<<<<<<< HEAD
#right-up{
    height: 350px;
    width: 570px;
    background-color: brown;
}
#right-up-left{
	height: 350px;
	width: 330px;
	background-color: #123ABC;
	float: left;
	margin-right: 20px; 
}
#right-up-right{
	height: 350px;
	width: 220px;
	background-color: pink;
	float: left; 
}
#right-up1{
	height: 165px;
	width: 220px;
	background-color: black;
	margin-bottom: 10px;
}
#right-up2{
	height: 165px;
	width: 220px;
	background-color: yellow;
	margin-top: 10px;
}
#right-down{
    height: 110px;
    width: 570px;
    background-color: red;
    margin-top: 20px;
}
=======
>>>>>>> 6df145a2709a2eddd6aae8ba447b377bf5d1470d
#footer{
	height: 150px;
	width: 100%;
}
#inside-footer{
	height:150px;
	width: 870px;
	background-color: black;
	margin:0 auto;
}